@import url("https://fonts.googleapis.com/css2?family=Roboto:300,400,500,700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  user-select: none;
  color: black;
  transition-duration: 100ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
}

input,
button {
  user-select: auto;
  padding: 6px;
  margin: 0 3px;
}

input:last-of-type,
button:last-of-type {
  margin: 0 0 0 3px;
}

button {
  font-size: 1rem;
  font-weight: bold;
  background: none;
  border-radius: 8px;
  border: 4px solid rgba(40, 44, 52, 0.1);
  box-shadow: 0 0 0 2px rgba(40, 44, 52, 0.3);
}

button:hover,
button:active,
button:focus {
  border: 4px solid rgba(40, 44, 52, 0.5);
  box-shadow: 0 0 2px 2px rgba(40, 44, 52, 0.5);
}

button * {
  color: inherit;
}

#root {
  /*empty*/
}

#App-Main {
  margin: 0 auto;
  max-width: 500px;
}

article.isFavoriteArticle {
  border: 4px solid hotpink;
}

article.isFavoriteArticle:hover {
  border: 4px solid hotpink;
}

.article-media-query {
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(51, 51, 51, 0.1);
}

.article-media-query:hover {
  border: 1px solid rgba(51, 51, 51, 0.3);
  /*box-shadow: 0 0 10px 0 rgba(51, 51, 51, 0.3);*/
}

.TaskDescription:hover {
  opacity: 0.5;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f0efeb;
  /*Photo by <a href="https://unsplash.com/@willianjusten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Willian Justen de Vasconcellos</a> on <a href="https://unsplash.com/@willianjusten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
}

@media all and (max-width: 640px) {
  .hidden-mobile {
    display: none;
  }
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  button > span {
    display: none;
  }
  .task-controls-wrapper {
    position: absolute;
    right: 5%;
  }
}

@media all and (min-width: 960px) {
  #App-Main {
    max-width: 80vw;
  }
  .article-media-query {
    margin: auto;
  }
  #TaskInput-media-query {
    max-width: 50vw;
    margin: auto;
  }
}

@media all and (min-width: 1280px) {
  #App-Main {
    max-width: 80vw;
  }
  .article-media-query {
    width: 30%;
    margin: auto;
  }
  #TaskInput-media-query {
    max-width: 50vw;
    margin: auto;
  }
}
