* {
  transition-duration: 150ms;
  transition-property: all;
  transition-timing-function: ease-in-out;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  /*background-color: #eaeaea;*/
  /*background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );*/
  min-height: 100vh;
  max-width: 100vw;
}

#root {
  display: flex;
  flex-direction: column;
  height: inherit;
  min-height: inherit;
}
