@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  user-select: none;
}

input {
  user-select: auto;
}

section,
div {
  max-width: 100vw;
}

#root {
  flex: 1;
  display: flex;
}

body {
  /*P*/
  display: flex;
  /*B*/
  margin: 0;
  min-height: 100vh;
  /*T*/
  color: ghostwhite;
  /*V*/
  background-color: #282c34;
  background-image: url("../src/assets/images/unsplash.jpg");
  background-attachment: fixed;
  background-clip: content-box;
  background-origin: content-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  /*Photo by <a href="https://unsplash.com/@willianjusten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Willian Justen de Vasconcellos</a> on <a href="https://unsplash.com/@willianjusten?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
  */
}

@media all and (max-width: 640px) {
  .hidden-mobile {
    display: none;
  }
}
